@model IEnumerable<EFDemo.Models.Course>
@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@foreach(var r in Model)
{
    <div>@r.CourseName - @r.CourseType</div>
    
}